.container {
    width: 100%;
}
.content {
    padding-left: 30px;
}

.content__wrapper {
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

.content__wrapper__active {
    max-height: 500px;
    transition: max-height .4s ease-in;
}