.container {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 4px 15px 0 rgba(230, 230, 230, 0.5);
    padding: 15px 20px;
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:hover {
        box-shadow: 2px 4px 20px 0 rgba(230, 230, 230, .9);
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
    }
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.img {
    
    max-height: 250px;
    max-width: 250px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}