.container {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    box-shadow: 1px 1px 10px 0 lightgray;
}

.info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px   ;
}
.content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}
.number {
    color: var(--main-blue-color);
}

.feedback {
    width: 100%;
    padding: 15px;
    resize: none;
    font-size: 16px;
}
.feedback__button {
    width: 100%;
}

.form {}

.actions__button {
    width: 15px;
    height: 15px;
}

.caret {
    transition: .4s;
}
.caret__rotate {
    transition: .4s;
    transform: rotateX(180deg);
}
.icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.actions {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.body {
    width: 100%;
}

.content__active {
    max-height: 500px;
    transition: max-height .4s ease-in;
}