.container {
    width: 100%;
}
.content {
    width: 100%;
    padding-left: 30px;
}

.content__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

.content__wrapper__active {
    width: 100%;
    max-height: 500px;
    transition: max-height .4s ease-in;
    overflow-y: hidden;
}