.container {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 4px 15px 0 rgba(230, 230, 230, 0.5);
    padding: 15px 20px;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    &:hover {
        box-shadow: 2px 4px 20px 0 rgba(230, 230, 230, .9);
    }
    h3 {
        color: gray;
        font-size: 20px;
        font-weight: bold;
    }
}