.container {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 4px 15px 0 rgba(230, 230, 230, 0.5);
    cursor: pointer;
    transition: .2s ease-in-out;
    &:hover {
        box-shadow: 2px 4px 20px 0 rgba(230, 230, 230, .9);
    }
}

.wrapper {
    width: 95%;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
        font-size: 20px;
        font-weight: bold;
    }
    p {
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical; 
        overflow: hidden;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    gap: 5px;
}

.actions {
    display: flex;
    gap: 5px;
}

